/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

#game {
  display: grid;
  position: relative;
  margin: auto;
  width: 90vw
}

#photo {
  width: 100%;
  -webkit-clip-path: inset(0 25% 25% 0);
  clip-path: inset(0 25% 25% 0);
}