/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

#game-area {
  display: grid;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vw;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.tile {
  grid-area: 1/1/2/2;
  background-image: url('https://cdn.glitch.com/24dc13be-ff08-4007-bf38-7c45e0b5d9e1%2FIMG_20180826_114200.jpg?1535486103628');
  background-size: cover;
  transform: scale(4);
}